API_HTTP_PORT=3000
DATABASE_HOST_PORT=5433
DATABASE_NAME=padel-context-db
DATABASE_USER=padel-context-db_user
DATABASE_PASSWORD=padel-context-db_password
AUTH_JWT_SECRET=
MCP_SERVER_HTTP_PORT=3001
MCP_CLIENT_WEB_PORT=3002
GOOGLE_GENERATIVE_AI_API_KEY=
GEMINI_MODEL=models/gemma-4-26b-a4b-it
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=